<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
      <div class="card card-body bg-dark text-white">
        <h1 class="text-center">
          {{message}}
        </h1>
        <p>
Lo sentimos, pero no pudimos encontrar la página que estabas buscando.
        </p>
        <p>
         Intenta volver a la
          <a href="/">
            página de inicio
          </a>
          .
        </p>
      </div>
    </div>
  </div>
</div>