<main class="index">
  <header class="bg-image d-flex">
    <div class="text-center m-auto p-5 "style="; border-radius: 25px 25px 25px 25px;  ">
      <h1 class="mb-1 display-1">Stark Inventory</h1>
      <h3 class="mb-5">
        <em>Diseñada para ser fácil </em>
      </h3>
      <a class="btn btn-primary btn-lg" href="/signin">
        ¡VAMOS!
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>